services:
  Implem.Pleasanter:
    build:
      context: .
      dockerfile: ./Implem.Pleasanter/Dockerfile
    environment:
        - Implem.Pleasanter_Rds_PostgreSQL_SaConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_SaConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_OwnerConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_OwnerConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_UserConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_UserConnectionString}
    image: implem.pleasanter
    container_name: pleasanter
    depends_on:
      - db
    networks:
      - default
  Implem.CodeDefiner:
    build:
      context: .
      dockerfile: ./Implem.CodeDefiner/Dockerfile
    environment:
        - Implem.Pleasanter_Rds_PostgreSQL_SaConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_SaConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_OwnerConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_OwnerConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_UserConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_UserConnectionString}
    image: implem.codedefiner
    container_name: codedefiner
    depends_on:
      - db
    networks:
      - default
  db:
    container_name: postgresql
    image: postgres:15
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST_AUTH_METHOD=scram-sha-256
      - POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256
    ports:
      - "5432:5432"
    networks:
      - default
networks:
  default:
    name: pleasanternetwork

x-bake:
  group:
    default:
      targets:
        - Implem.CodeDefiner
        - Implem.Pleasanter
        - Implem.PleasanterTest
  target:
    Implem.CodeDefiner:
      context: .
      dockerfile: ./Implem.CodeDefiner/Dockerfile
      cache-from:
        - type=local,src=/tmp/.buildx-cache
      cache-to:
        - type=local,dest=/tmp/.buildx-cache
    Implem.Pleasanter:
      context: .
      dockerfile: ./Implem.Pleasanter/Dockerfile
      cache-from:
        - type=local,src=/tmp/.buildx-cache
      cache-to:
        - type=local,dest=/tmp/.buildx-cache
    Implem.PleasanterTest:
      context: .
      dockerfile: ./Implem.PleasanterTest/Dockerfile
      cache-from:
        - type=local,src=/tmp/.buildx-cache
      cache-to:
        - type=local,dest=/tmp/.buildx-cache
