version: '3.5'

services:
  implem.pleasanter:
    build:
      context: .
      dockerfile: ./Implem.Pleasanter/Dockerfile
    environment:
        - Implem.Pleasanter_Rds_PostgreSQL_SaConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_SaConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_OwnerConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_OwnerConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_UserConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_UserConnectionString}
    image: implem.pleasanter
    container_name: pleasanter
    depends_on:
      - db
    networks:
      - default
  implem.codedefiner:
    build:
      context: .
      dockerfile: ./Implem.CodeDefiner/Dockerfile
    environment:
        - Implem.Pleasanter_Rds_PostgreSQL_SaConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_SaConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_OwnerConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_OwnerConnectionString}
        - Implem.Pleasanter_Rds_PostgreSQL_UserConnectionString=${Implem_Pleasanter_Rds_PostgreSQL_UserConnectionString}
    image: implem.codedefiner
    container_name: codedefiner
    depends_on:
      - db
    networks:
      - default
  db:
    container_name: postgresql
    build:
      context: .
      dockerfile: ./docker-build/postgresql/Dockerfile
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5432:5432"
    volumes:
      - ./docker-build/postgresql/init:/docker-entrypoint-initdb.d
    networks:
      - default
  implem.testautomation:
    container_name: testautomation
    image: implem.testautomation
    build:
      context: .
      dockerfile: Implem.TestAutomation/Dockerfile
    networks:
      - default
networks:
  default:
    name: pleasanternetwork
