<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Extensions.AzureDataTables" />
    </extensions>

    <variables>
        <!-- Environment variable names are temporary values -->
        <variable name="targetName"
                  value="${environment:CSP_REPORT_TARGET_NAME:default=file}" />
        <variable name="azureTableName"
                  value="${environment:CSP_REPORT_AZURE_TABLE_NAME:default=CspReport}" />
        <variable name="azureConnectionString"
                  value="${environment:CSP_REPORT_AZURE_CONNECTION_STRING:default=}" />
    </variables>
    
    <targets>
        <target name="file"
                xsi:type="File"
                fileName="Logs/CspReport_${date:format=yyyyMMdd}.log"
                archiveFileName="Logs/archives/CspReport_${date:format=yyyyMMdd}.{#}.log"
                archiveAboveSize="1048576"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="365"
                concurrentWrites="true"
                keepFileOpen="false"
                layout="${longdate} | ${message}" />
        
        <target name="azureDataTable"
                xsi:type="AzureDataTables"
                tableName="${var:azureTableName}"
                connectionString="${var:azureConnectionString}"
                layout="${longdate} | ${message}" />
    </targets>

    <rules>
        <logger name="*"
                minlevel="Info"
                writeTo="file,azureDataTable" />
    </rules>
</nlog>