<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="2147483647" />
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <clear />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <appSettings>
        <add key="CacheConnection" value="url.redis.cache.windows.net:6380,abortConnect=false,ssl=true,allowAdmin=true,password=key"/>
    </appSettings>
</configuration>
