@media screen and (max-width: 1024px) and (min-width: 0px) {
    #Application:has(#Grid){
        padding-bottom: 0;
        + #BottomMargin{
            display: none;
        }
        #ViewModeContainer {
            padding-top: 0;
            max-height: calc(100vh - 14.6vw - (2.8vw*1.4 + 10px + 23vw));
            margin-bottom: calc(2.8vw*1.4 + 10px + 23vw);
        }
    }
}