@media screen and (max-width: 1024px) and (min-width: 0px) {
    #ViewModeContainer:has(#Grid) {
        padding-top: 0;
        max-height: calc(100vh - 14.6vw - 16vh);
        margin-bottom: -11%;
    }
}