
@media screen and (max-width: 980px) and (min-width: 0px) {

    #LoginFieldSet {
        width: 100%;
        margin: 30vw auto 10vw auto;
        padding: 10vw;
    }
    #Logins .field-label {
        width: auto;
        padding: 4px;
    }
    #LoginMessage {
        width: 100%;
    }
    #Demo {
        width: 100%;
    }
    #DemoFields .field-label {
        width: auto;
        padding: 4px;
    }
    @media screen and (max-width: 600px) and (min-width: 0px) {
        #LoginFieldSet .field-wide {
            min-height: 10vw !important;
        }
    }
    #StartGuide {
        display: none;
    }
    .container-normal > #ApiKey {
        word-break: break-all;
    }
    div[role="dialog"] {
        width: 100% !important;
        z-index: 999;
    }
    #CasesBanner, #EnterPriseBanner {
        display: none;
    }
    #EditorTabsContainer > fieldset {
        display: contents;
    }
    #EditorTabsContainer > fieldset > fieldset {
        display: contents;
    }
    #TenantImage {
        width: 100%;
    }
    #Search {
        width: auto;
        height: auto;
    }

	#Breadcrumb { display:none; }
    #CopyToClipboards { display: none; }

#ViewSelectorField { position: relative; margin-bottom: 5px; font-size: 2.8vw; }

#HeaderTitleContainer { margin-bottom: 3%; }
    
#ViewFilters { font-size: 2.6vw; padding-bottom: 2%; }
#Aggregations { font-size: 2.6vw;}
    #ViewFilters_Reset { float: none; }
    #ViewFilters.reduced,
    #Aggregations.reduced { border-bottom: 1px solid #aaa; margin-bottom: 2%; padding: 2%; }
    #Aggregations .label { height: auto; }
    #ViewFilters>.field-auto-thin { height: 6vw; padding: 0; margin: 2% 0 0 0; line-height: 1; width: 49%;display: flex;
    justify-content: start;
    align-items: center; }
    #ViewFilters>.field-auto-thin>.field-control { width: 100%;}
    #ViewFilters>.field-auto-thin>.field-label { width: 30%; text-align: left;}
    #ViewFilters>.field-auto-thin>.field-label+.field-control { width: 70%; }
    .ui-multiselect { width: 98%!important; height: 6vw; }
    
    .field-auto-thin input[type="checkbox"], 
    .field-auto-thin input[type="radio"] { height: 2.6vw;  width: 2.6vw; margin-right: 1vw; }
    .control-checkbox { margin: 0;}
    .control-checkbox+label { margin: 0; }
    .field-auto-thin>.field-label { padding: 0; }

#RecordInfo div { clear:both; margin-right: 0; }
#RecordInfo div p { font-size: 2.6vw; }

#Application { padding-bottom: 15%;}
#MainForm { display: flex; flex-direction: column; }

    #RecordInfo { margin-bottom: 2%;}
    #RecordSwitchers { font-size: 2.6vw; width: 100%; }
    .ui-button,
    #RecordSwitchers .current { height: auto; padding: 2%!important; line-height: 1; margin-right: 2%; }
#EditorComments { width: 100%; order: 3; font-size: 2.6vw; }
#EditorTabsContainer { width: 100%; }
.fieldset.ui-tabs-panel.ui-widget-content {font-size: 2.6vw;}
.ui-tabs .ui-tabs-panel { padding: 1%; }

.field-wide,
.field-markdown { width: 100%; min-height: 5vw; float: none; padding: 0 0 3% 0; clear: both; }
.field-normal { width: 100%; height: auto; padding: 0;}
    .field-normal.right-align { text-align: left; }

.field-markdown>.field-label,
.field-normal>.field-label,
.field-wide>.field-label{ width: 100%; clear: both; margin-left: 0; padding: 1%; font-weight: bold; text-align: left; text-align-last: left; }
.field-normal>.field-label label,
.field-wide>.field-label label{ font-weight: bold; }

.field-normal>.field-control { }
.field-normal .container-normal,
.field-control .container-normal{ margin-left: 0; }
    .control-dropdown { height: auto; }
.ui-spinner a.ui-spinner-button { height: 50%; }

.field-normal .control-text{ width: 100%; height: auto; padding: 1%; line-height: 1; }
.control-textbox { height: auto; }
    
.ui-widget.ui-widget-content { background: #fff; font-size: 2.6vw; }

#Guide { font-size: 2.6vw; }

.alert-success { height: auto; font-size: 2.6vw; }
    
#MainCommandsContainer { height:auto; padding: 2vw 0; font-size: 2.6vw; z-index: 200; }
#Footer { z-index: 102; }

.ui-tabs .ui-tabs-nav { padding:1%; font-size: 2.6vw; }
.ui-tabs .ui-tabs-nav li {
    margin-bottom: 1%;
    padding-bottom: 0;
border:1px solid #111;
border-radius: 4px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 1%;
    padding-bottom: 0;
border:1px solid #111;
border-radius: 4px;
}

}


@media screen and (max-width: 980px) and (min-width: 0px) {

body { min-width: 320px!important; }
#Header { height: auto; position: relative; }
    #Header #Logo { padding-bottom: 2%; }
    #CorpLogo { float: none; width: 30%;}
#MainContainer { min-height: 100vh; }

#Header a#navtgl { 
    position: absolute;
    display: block;
    padding: 1.6vw 1.4vw;
    border: .4vw solid #d19405;
    border-radius: 1vw;
    top: 1.4vw;
    right: 4vw;
    height: 8vw;
    width: 8vw;
    z-index: 101;
    background: #fece2f; }
#Header a#navtgl::before { content:''; display:block; height: 1.3vw; border-top: .4vw solid #333; border-bottom: .4vw solid #333;  }
#Header a#navtgl::after { content:''; display:block; height: 1.4vw; border-bottom: .4vw solid #333;  }

* #Navigations {box-sizing: border-box;}
#Navigations {
width: 100%;
max-height: 0;
overflow: hidden;
margin: 0;
padding: 0 5%;
border: none;
position: relative;
top: 0;
right: 0;
border-radius: 0;
z-index: 100;
font-size: 3.2vw;
line-height: 7vw;
transition: .5s;
}

#Navigations.open {
    max-height: none;
    height: auto;
    overflow:visible;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 5%;
    transition: .5s;
}

#NavigationMenu>li.sub-menu>div.hover {
    background: none;
}

#Header .ui-widget-header{
background: #f3f3f3;
color:#111;
}

.ui-widget-header{
background: #817865;
color:#fff;
}
    
#NavigationMenu {
    float: none;
    margin-right: 0;
    margin-bottom: 3%;
}

#SearchField {
    float: none;
    margin: 0;
    color: #000;
}

#NavigationMenu>li {
width: 100%;
height: auto;
display: block;
float: none;
position: relative;
color:#333;
}

#NavigationMenu>li>div {
height: auto;
text-align: left;
line-height: 7vw;
color: #333;
font-weight: bold;
}

#NavigationMenu>li>div:hover { background:none;}

#NavigationMenu>li>div>a {
height: auto;
display: block;
color: #333;
text-decoration: none;
font-weight: bold;
}

    #NavigationMenu .menu {
        width: 100%;
        border-top: none !important;
        position: relative;
        top: 0;
        right: 0;
        border-radius: 0;
        z-index: 3;
    }
    .pc-dn {
        display: block!important;
    }

#NavigationMenu .menu>li>a.ui-state-active {
font-weight: normal;
text-decoration: none;
}

.ui-widget.ui-widget-content {
}

.ui-widget-content {
color: #333;
}

.ui-menu .ui-menu-item { 
border-top: 1px solid #d19405;
}
#NewMenuContainer {
border: 1px solid #d19405;
    background: #fff;
}

.ui-widget-header .ui-icon {
}

}

@media screen and (max-width: 980px) and (min-width: 0px) {

#SiteMenu .nav-site {
width: 20vw;
height: 20vw;
text-align: center;
background-color: white;
border: solid 2px silver;
border-radius: 0.5vw;
float: none;
margin: 6%;
}

#SiteMenu .sortable {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#SiteMenu .nav-site.sites{
width: 20vw!important;
height: 20vw!important;
background: #fff;
border: solid 2px #ffa500;
border-radius: 5px;}


#SiteMenu .nav-site .heading{
width: 8vw;
height: 3vw;
top: -3vw;
background-color: #f8da4c;
border: solid 2px #ffa500;
}

#SiteMenu .nav-site.sites.to-parent{
height: auto!important;
box-shadow: none;
margin-top: 3%;
margin-bottom: 0;
}

#SiteMenu .nav-site.sites.to-parent span.title { 
position: relative;
top: 0;
text-align: left;
width: 100%;
margin-left: 0; 
}

#SiteMenu .nav-site.sites.to-parent .heading{
display: none;
}

#SiteMenu .nav-site a {padding:0; overflow:inherit;}


#SiteMenu .nav-site .site-image-thumbnail {
    position: relative;
    top: inherit;
    left: inherit;
    max-width: inherit;
    border-radius: unset;
    width: 90%;
    z-index: 1;
    margin: 0 auto;
    display: block;
}
#SiteMenu .nav-site span.title::before {
content:'';
display:block;
height: 0;
}
#SiteMenu .nav-site span.title {
margin-left: 0;
font-size: 14px;
}
#SiteMenu .nav-site.has-image a { padding: 1vw 0 0; }
#SiteMenu .nav-site .conditions { position: absolute; top: -2.4vw; right: -2.4vw; z-index: 2; }
#SiteMenu .nav-site .conditions .elapsed-time { display: none; }
#SiteMenu .nav-site .conditions .count { display: none; }
#SiteMenu .nav-site .conditions .overdue { height: 6vw; min-width: 6vw; line-height: 6vw; font-size: 2.6vw; border-radius: 3vw; font-weight: bold; padding: 0; }

#SiteMenu .nav-site[data-type="Wikis"] {
    border-radius: 2px;
    position: relative;
    width: 20vw;
    border: 2px solid #ccc;
}
#SiteMenu .nav-site[data-type="Wikis"] a::before,
#SiteMenu .nav-site[data-type="Wikis"] a::after { content:''; display: block; position: absolute; height: 20%; width: 80%; left:10%; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; }
#SiteMenu .nav-site[data-type="Wikis"] a::before { top: 20%; }
#SiteMenu .nav-site[data-type="Wikis"] a::after { top: 60%; }
#SiteMenu .nav-site[data-type="Wikis"] a img { margin-top: 15%; }
    
#SiteMenu .nav-site.sites.to-parent {
    height: auto!important;
    border: none;
    background: none;
    text-align: left;
}


#SiteMenu .nav-site.to-parent .ui-icon {
    display: none;
}

#SiteMenu .nav-site.to-parent a{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
#SiteMenu .nav-site.to-parent a::before,
#SiteMenu .nav-site.to-parent a::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}
#SiteMenu .nav-site.to-parent a::before{
    left: 5px;
    width: 7px;
    height: 3px;
    background: #7a0;
}
#SiteMenu .nav-site.to-parent a::after{
    left: 2px;
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #7a0;
    border-left: 3px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#SiteMenu .nav-site span.title {
    margin-left: 0;
    font-size: 2.6vw;
    top: 22vw;
    position: absolute;
    display: block;
text-align: center;
    width: 140%;
    margin-left: -20%;
overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#SiteMenu .nav-site .stacking1 {
        width: 20vw;
        height: 20vw;
        border-bottom: solid 1px silver;
        border-right: solid 1px silver;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 5px;
}
#SiteMenu .nav-site .stacking2 {
        width: 20vw;
        height: 20vw;
        border-bottom: solid 1px silver;
        border-right: solid 1px silver;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 5px;
}
#SiteMenu .nav-sites .to-parent a img {display: none; }
#SiteMenu .nav-site.to-parent.has-image a { padding: 0 0 0 15px;}
}

@media screen and (max-width: 980px) and (min-width: 0px){

#EditorTabs {}
#Application {}

#FieldSetStandard{ display: flex; flex-direction: column; }
.legend {order: 2;}
#StandardTemplatesViewer { order:3;}
.template-selectable { order: 1; float: none;}
    
.template-viewer-container { float: none; margin: 0;}
.template-viewer { margin: 0;}
.template-selectable { width: 100%; }

.template-tab-container { min-height: 10px; }

.field-vertical { width: 100%; float: none; padding: 0 0 20px 0;  }

.container-selectable .wrapper { min-height: auto;}
.h350 { height: auto;}
    
    #EditInDialogBody { padding-bottom: 15%; }
}

@media screen and (max-width: 980px) and (min-width: 0px) {
#FieldSetHistories { overflow: auto; width: 100%; }
#ViewModeContainer { overflow: auto; width: 100%; padding-top: 1%; }
    #CrosstabBody { overflow: auto; width: 100%; }
    #GanttBody { overflow: auto; width: 100%; padding-top: 5%; }
.grid { font-size: 2.8vw; width: 98%; }
.grid>thead th { min-width: 10vw; white-space: nowrap; }
.grid>tbody td { min-width: 10vw; white-space: nowrap; }
    .grid>thead th:nth-child(1),
    .grid>tbody td:nth-child(1) { min-width:1vw;}
.grid>tbody td p { white-space: nowrap; }

    
    #Calendar { font-size: 2.6vw; }
    #Calendar button { margin-bottom: 2%;}
    #CalendarBody #Grid thead { background: #fff; }
    #CalendarMonth { display:block; }
    
    #Calendar .field-auto-thin { display: flex; align-items: center; width: 33%; margin: 0; padding: 0; margin-bottom: 2%!important;}
    #Calendar .field-auto-thin p { margin-right: 1%;}
    #Calendar .field-auto-thin select { max-width: none; }
    
    #CalendarTimePeriod,
    #CalendarFromTo,
    #CalendarMonth { height: auto;}
    #CalendarMonth { margin-bottom: 2%;}
    .w100 { width:auto;}
    
    
    #CrosstabBody { margin-top: 3%;}
    #CrosstabBody #Grid { table-layout: auto;}
    #CrosstabBody .grid>thead>tr>th,
    #CrosstabBody .grid>tbody>tr>th { white-space: nowrap; }
    #CrosstabBody .grid>thead th { min-width: 10vw; white-space: nowrap; }
    #CrosstabBody .grid>tbody td { min-width: 10vw; white-space: nowrap; }
    #Crosstab {display: flex;
    flex-wrap: wrap;
        justify-content: space-between; 
    align-items: center;}
    
    #Crosstab .field-auto-thin { display: flex; align-items: center; width: 48%; margin: 0; padding: 0; font-size: 2.6vw; }
    #Crosstab .field-auto-thin#CrosstabTimePeriodField { width: 48%;}
        #Crosstab .field-auto-thin p {
            width: 100%; margin-right: 2%;
            white-space: nowrap;
        }
    #Crosstab .field-auto-thin select { max-width: none; }
    #Crosstab #CrosstabMonth { width: 48%; margin-top:2%; margin-right: 0; font-size: 2.6vw; } 
    #Crosstab button { font-size: 2.6vw; margin-top: 1%;}
    
    .svg-crosstab { display: block; }
    
    #ViewModeContainer .both { display: flex; align-items: center; flex-wrap: wrap; }
    #ViewModeContainer .both .field-auto-thin { display: flex; align-items: center; width: 48%; margin: 0; padding: 0; font-size: 2.6vw; height: auto; padding-top: 2%; }
    #ViewModeContainer .both .field-auto-thin .field-auto-thin { width: 30%; }
    #ViewModeContainer .both .field-auto-thin:nth-child(3) { width: 100%; }
    #ViewModeContainer .both .field-auto-thin:nth-child(3) .field-auto-thin {
        width: 48%; display:block;
    }
    #ViewModeContainer .field-auto-thin p { margin-right: 2%;
    white-space: nowrap; text-align: left; }
    
    #GanttAxis { width: 1500px; position: relative; left: 0; bottom: 0; }
    #Gantt { width: 1500px; }
    
    #BurnDown { width: 1500px; }
    
    #TimeSeriesBody { padding-top: 5%; margin-left: -5%; width: 1500px; }
    #TimeSeries { width: 1500px; }
    
    #ViewModeContainer #Kamban.both .field-auto-thin:nth-child(3) { width: 48%; }
    #ViewModeContainer #Kamban.both .field-auto-thin .field-control { width: 100%; }
    
    #KambanBody { margin-top: 3%;}
    #KambanBody #Grid { table-layout: auto;}
    #KambanBody .grid>thead>tr>th,
    #KambanBody .grid>tbody>tr>th { white-space: nowrap; }
    #KambanBody .grid>thead th { min-width: 10vw; white-space: nowrap; }
    #KambanBody .grid>tbody td { min-width: 10vw; white-space: nowrap; }
}

@media screen and (min-width: 981px) {

.grid>thead>tr:first-child>th:first-child {width: 20px;}
#CrosstabBody .grid>thead>tr:first-child>th:first-child,
#KambanBody .grid>thead>tr:first-child>th:first-child {width: auto;}

.grid>thead>tr:first-child>th:not(:first-child) { white-space: nowrap; }
#CrosstabBody .grid>thead>tr:first-child>th:not(:first-child),
#KambanBody .grid>thead>tr:first-child>th:not(:first-child) { white-space: inherit; }

.grid>tbody>tr td:not(:first-child) {white-space: nowrap; min-width: 40px;}
#CrosstabBody .grid>tbody>tr td:not(:first-child),
#KambanBody .grid>tbody>tr td:not(:first-child) { white-space: inherit; min-width:auto; }

}