name: Publish Docker image

on:
  release:
    types: [published, edited]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Split tag name
        env:
          RELEASETAG: ${{ github.event.release.tag_name }}
        id: split
        run: echo "RELEASEVER=${RELEASETAG##Pleasanter_}" >> "$GITHUB_OUTPUT"
      - name: Test variable
        run: |
          echo ${{ steps.split.outputs.RELEASEVER }}
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: "lab:latest"
          driver: cloud
          endpoint: "implem/pleasanter-release-builder"
      - name: Extract metadata (Pleasanter)
        id: meta1
        uses: docker/metadata-action@v5
        with:
          images: implem/pleasanter
          tags: |
            latest
            ${{ steps.split.outputs.RELEASEVER }}
      - name: Build and push (Pleasanter)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Implem.Pleasanter/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta1.outputs.tags }}
      - name: Extract metadata (CodeDefiner)
        id: meta2
        uses: docker/metadata-action@v5
        with:
          images: implem/pleasanter
          tags: codedefiner
      - name: Build and push (CodeDefiner)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Implem.CodeDefiner/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta2.outputs.tags }}
