name: CI
on:
  schedule:
    - cron: '0 13 * * *'   # UTC (= 22:00 JST)
  workflow_dispatch:
env:
  AZURE_WEBAPP_NAME: pleasanter
  AZURE_WEBAPP_PACKAGE_PATH: Implem.Pleasanter/publish
  CONFIGURATION: Release
  DOTNET_CORE_VERSION: 8.x
  DOTNET_CORE_DIR: net8.0
  WORKING_DIRECTORY: Implem.Pleasanter
  WORKING_DIR_CODEDEFINER: Implem.CodeDefiner
  WORKING_DIR_TESTAUTOMATION: Implem.TestAutomation
jobs:
    build_and_e2e_test:
        name: Build and E2E test
        if: github.repository == 'Implem/Implem.Pleasanter.NetCore.Private'
        runs-on: ubuntu-latest
        env:
            Implem_Pleasanter_Rds_PostgreSQL_SaConnectionString: ${{ secrets.PLEASANTER_RDS_SA_CONN }}
            Implem_Pleasanter_Rds_PostgreSQL_OwnerConnectionString: ${{ secrets.PLEASANTER_RDS_OWNER_CONN }}
            Implem_Pleasanter_Rds_PostgreSQL_UserConnectionString: ${{ secrets.PLEASANTER_RDS_USER_CONN }}
            POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
            DOCKER_BUILDKIT: 1
            COMPOSE_DOCKER_CLI_BUILD: true
        steps:
            - uses: actions/checkout@v4
            - name: Setup .NET Core SDK ${{ env.DOTNET_CORE_VERSION }}
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: ${{ env.DOTNET_CORE_VERSION }}
            - name: build on docker compose
              working-directory: ./
              run: docker compose build
            - name: run Implem.CodeDefiner on docker compose
              run: docker compose run --rm --name codedefiner Implem.CodeDefiner _rds /l "ja" /z "Asia/Tokyo" /y
              working-directory: ./
            - name: run Implem.Pleasanter on docker compose
              run: docker compose run -d -p 50001:8080 --rm --name pleasanter Implem.Pleasanter
              working-directory: ./
            - name: build Implem.TestAutomation
              run: dotnet build "Implem.TestAutomation.csproj" -c Release -p:SkipBuildTask=true
              working-directory: ${{ env.WORKING_DIR_TESTAUTOMATION }}
            - name: run Implem.TestAutomation
              run: dotnet Implem.TestAutomation.dll /p . /s
              working-directory: ${{ env.WORKING_DIR_TESTAUTOMATION }}/bin/${{ env.CONFIGURATION }}/${{ env.DOTNET_CORE_DIR }}
            - name: clean up on docker compose
              run: docker compose down
              working-directory: ./
