name: build and xUnit test
on:
  schedule:
    - cron: '0 13 * * *'   # UTC (= 22:00 JST)
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  workflow_dispatch:
jobs:
    run_xunit_test:
        name: Run xUnit test
        if: github.repository == 'Implem/Implem.Pleasanter.NetCore.Private' && github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        env:
            Implem_Pleasanter_Rds_PostgreSQL_SaConnectionString: ${{ secrets.PLEASANTER_RDS_SA_CONN }}
            Implem_Pleasanter_Rds_PostgreSQL_OwnerConnectionString: ${{ secrets.PLEASANTER_RDS_OWNER_CONN }}
            Implem_Pleasanter_Rds_PostgreSQL_UserConnectionString: ${{ secrets.PLEASANTER_RDS_USER_CONN }}
            POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
            POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
            POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
            DOCKER_BUILDKIT: 1
            COMPOSE_DOCKER_CLI_BUILD: true
        steps:
            - uses: actions/checkout@v4
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Cache Docker layers
              uses: actions/cache@v4
              with:
                path: /tmp/.buildx-cache
                key: ${{ runner.os }}-buildx-${{ github.sha }}
                restore-keys: |
                  ${{ runner.os }}-buildx-
            - name: Build with bake (cache enabled)
              working-directory: ./
              run: |
                docker buildx bake
            - name: run Implem.CodeDefiner on docker compose
              run: docker compose run --rm --name codedefiner Implem.CodeDefiner _rds /y
              working-directory: ./
            - name: run Implem.PleasanterTest on docker compose
              run: docker compose run --rm --name testrunner Implem.PleasanterTest
              working-directory: ./
            - name: clean up on docker compose
              run: docker compose down
              working-directory: ./
